header{
    background-image:linear-gradient(rgba(253, 243, 243, -0.6),rgba(199, 199, 199, 0)), url(images/header.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
    background-attachment: fixed;
    clip-path: polygon(100% 0, 100% 69%, 0 100%, 0 0);
    color: #e84118;
    z-index: -10;
}
.desc{
    position: absolute;
	top:50%;
	left:40%;
    transform: translate(-50%, -50%);
    color:#fff;
    z-index: 90;
}
.desc-p{
    letter-spacing: 5px;
    font-weight: 500;
}
.btn-light{
    color: #e84118 !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1{
        font-size: 2.3em !important;
    }
}
