a.move-top span {
    color: #fff;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(102, 102, 102, 0.30);
    line-height: 26px;
    margin: 20px 0;
    border-radius: 50%;
}
footer {
    background: #191919;
}
.social ul li {
    display: inline-block;
}
.social ul li a {
    color: #999;
    text-align: center;
}
.social ul li a span{
      height: 42px;
    width: 42px;
    font-size: 13px;
    background: #222;
    line-height: 42px;
    color: #999;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.social ul li a i:hover {
    background: #fff;
    color: #333;
    border: 1px solid #fff;
}
.copyright p,.copyright p a{
    color: #999;
    font-size: 15px;
    margin: 0;
    letter-spacing: 1px;
    line-height: 28px;
}
.copyright a:hover {
    color: #fff;
}