*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
html, body{
	background-color: white;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
  font-size: 20px;
  z-index: -9;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
.clearfix{
	zoom: 1;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
section{
	padding: 80px 0;
}
